Cmdline: ./threshold_histo -graph_path /ssd1/data/bigann/vamana_R64_L128 -base_path /ssd1/data/bigann/base.1B.u8bin.crop_nb_1000

Detected 1000000 points with dimension 128
Detected 1000000 points with max degree 64
Total: 48050303
Minimum: 1116
zeropointonePct: 73582
onePct: 129412
fstQrt: 241228
sndQrt: 284424
thdQrt: 325624
furthest: 413233

Cmdline: ./threshold_histo -graph_path /ssd1/data/FB_ssnpp/vamana_64_500  -base_path /ssd1/data/FB_ssnpp/FB_ssnpp_database.u8bin.crop_nb_1000000
Detected 1000000 points with dimension 256
Detected 1000000 points with max degree 64
Total: 41026105
Minimum: 979
zeropointonePct: 192906
onePct: 206954
fstQrt: 237421
sndQrt: 249999
thdQrt: 262651
furthest: 293840

Cmdline: ./threshold_histo -graph_path /ssd1/data/gist/gist-vamana -base_path /ssd1/data/gist/gist_base.fbin 
Minimum: 1
zeropointonePct: 0.542387
onePct: 1.13722
fstQrt: 2.59456
sndQrt: 3.45009
thdQrt: 4.69869
furthest: 12.2605


Cmdline: ./threshold_histo -graph_path /ssd1/data/text2image1B/text2image1B-vamana -base_path /ssd1/data/text2image1B/base.1B.fbin.crop_nb_1000000 -data_type float -dist_func mips
zeropointonePct-0.911185
smallest:-0.865727
fstPct-0.691094
sndPct-0.610756
thdPct-0.52143
furthest-0.171498
dist0:8
dist00:-0.652159
distsize:6101905
avgDistance:-0.592866
[0, 79129, 129250, 144829, 130400, 108897, 86617, 65347, 48618, 37128, 29172, 23119, 18818, 15509, 12618, 10654, 8984, 7540, 6429, 5649, 4882, 4149, 3541, 3156, 2824, 2366, 1974, 1850, 1612, 1458, 1276, 1141]
majority:58831
----------------------------------
Minimum: -0.98455
zeropointonePct: -0.549768
onePct: -0.390577
fstQrt: -0.159609
sndQrt: -0.107469
thdQrt: -0.0618024
furthest: 0.0431626

